body{
    margin:0;
    box-sizing:border-box;
    font-family: 'Times' !important;
}
.manat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: small;
}
.main {
    width: 213px;
    overflow:hidden;
    height: 106px;
    margin-left: 0px;
}
.price {
    position:fixed;
    display: flex;
    align-items: center;
    left: 145px;
    top: 71px;
    width: 68px;
    height:35px;
    font-size: 1.3em;
    text-align: center;
    line-height:18px;
    padding-top:0px;
    overflow:hidden;
    font-weight:700;
  
}
.name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position:fixed;
    height: 35px;
    padding-top: 0;
    width: 145px;
    font-size: 90%;
    overflow:hidden;
    text-align: center;
    font-weight:700;
    top: 71px;
    left: 0px;
}
img {
    width: 260px;
    margin-left:-20px;
    margin-top: -5px;
}