.div {
	display: flex;
	align-items: center;
}

.div ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.div li:first-child {
	list-style-type: none;
}

.div li {
	margin: 0 11px;
	font-size: 0.9em;
}

.div a {
	color: var(--blue);
}

.div a:hover {
	font-weight: 600;
}

.active {
	font-weight: 600;
	border-bottom: 2px solid var(--blue);
}
