.div {
    display: flex;
    align-items: center;
}

.div ul {
    display: flex;
    margin: 0;
}

.div li:first-child {
    list-style-type: none;
}

.div li {
    margin: 0 1rem;
    font-size: 0.9em;
}

.div a {
    color: var(--blue);
}

.div a::selection {
    text-decoration: underline;
}
