.custom_display {
    display: flex;
    flex-direction: column;
}
.buttons_wrapper {
    display: flex;
}

.ant-table-tbody tr td {
    font-family: "Calibri" !important;
}

.ant-form-item-label {
    text-align: left;
}
.doc_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.formWrapper {
    padding: 20px;
}
.dots {
    height: 4px;
    width: 4px;
    background: #525252;
    border-radius: 2px;
}
.doc_buttons_wrapper {
    max-height: 62px !important;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #f6f6f6;
    z-index: 2;
    padding: 10px 20px;
}
.customsavebtn {
    background: #21ba45;
    border-radius: 3px;
    color: #fff !important;
    font-weight: 400;
}
.customsavebtn:hover {
    border-color: #21ba45;
}
.customclosebtn {
    margin-left: 10px;
    border-radius: 3px;
    background: #f9f9f9 !important;
}
.customclosebtn:hover {
    border-color: red;
    color: red;
}

.doc_name_wrapper {
    padding-left: 20px;
}

.doc_name_wrapper h2 {
    font-weight: 600;
}

.plus_wrapper {
    position: relative;
}

.left_doc_button {
    display: flex;
}

.customnewdoc {
    margin-left: 50px;
    border-radius: 3px;
    background: #f9f9f9 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: #0288d1;
}

.customnewdoc span.anticon-down {
    margin-left: 4px;
    margin-top: 0.4em;
}

.dots:nth-of-type(2) {
    margin: 0 3px;
}
.flex_directon_col_center {
    display: flex;
    align-items: center;
    text-align: center;
}

.static_wrapper {
    float: right;
}

.bottom_tab {
    padding: 1rem;
}

.bottom_tab {
    padding-left: 0 !important;
}

.ui.menu .active.item {
    color: #0288d1 !important;
}
.formWrapper,
.doc_wrapper,
.doc_name_wrapper {
    background: #f6f6f6;
}
.ui.segment.active.tab {
    margin-top: 0 !important;
    border-top: none;
}
.formWrapper table tbody {
    background: #f6f6f6 !important;
}

.doc_info_text.total span {
    font-size: 22px !important;
}
.doc_info_text.quantity span {
    font-size: 16px !important;
}

.addProductInputIcon .anticon-plus {
    padding: 9px;
    cursor: pointer;
    border-left: 1px solid #c4c4c4;
    border-radius: 0 3px 3px 0;
}

.addNewProductIcon {
    position: absolute;
    right: 1px;
    background-color: #e6f7ff;
    color: #1164b1;
    top: 1px;
}
.ui.button.dropdown.icon {
    width: 100%;
    background: none;
    border: 1px solid #8a8a8a;
}

.page_header {
    display: flex;
}

.page_heder_left h2 {
    margin-right: 12px;
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
    font-size: 2em;
}

.header_row {
    padding: 36px 24px;
}
.search_header {
    margin-left: 50px;
}
.ui.animated.button.buttons_click {
    transition: all 0.2s ease-in;
    border-color: #fff !important;
    background-color: #fff !important;
    position: relative;
    padding: 0.4rem 1rem !important;
    border: 1px solid #1164b1 !important;
    font-weight: 400;
    margin-right: 1.7rem;
    height: fit-content;
    color: #000 !important;
}
.ui.button.buttons_click {
    transition: all 0.2s ease-in;
    border-color: #fff !important;
    background-color: #fff !important;
    position: relative;
    padding: 0.4rem 1rem !important;
    border: 1px solid #1164b1 !important;
    font-weight: 400;
    margin-right: 1.7rem;
    height: fit-content;
    color: #000 !important;
}

.ui.animated.button.buttons_click svg {
    color: #1164b1;
}

.status_label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 80%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    font-family: "Calibri";
}
.filter_wrapper form {
    background-color: rgba(72, 69, 255, 0.09019607843137255);
    padding: 14px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.header_row {
    position: sticky;
    top: 0;
    background: #f9f9f9 !important;
    z-index: 3;
}

.setting_button_wrapper {
    display: flex;
    justify-content: flex-end;
}
tfoot td {
    padding: 4px 16px !important;
    font-weight: 600;
}

.ant-dropdown-trigger {
    background: none;
    color: #0288d1 !important;
}

.price_del_icons {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.price_del_icons .ant-row.ant-form-item {
    margin: 0 !important;
}

.price_del_icons svg {
    margin-left: 1em;
    color: #0288d1;
    cursor: pointer;
    font-weight: bold;
}

.create_new_price_button {
    color: #0288d1;
    align-items: center;
    display: flex;
    justify-content: center;
}

td.ant-table-column-sort {
    background: none;
}

.ant-table.ant-table-small .ant-table-tbody > tr > td {
    font-family: Calibri !important;
}

.ant-table table {
    cursor: pointer;
}

.ant-table-cell-row-hover {
    background-color: #ceedff !important;
}

.ant-tree.ant-tree-directory .ant-tree-treenode {
    padding: 8.5px 0;
}

.ui.labeled.icon.button > .icon {
    font-family: Icons !important;
}

.ant-btn > span + .anticon {
    margin: 0;
}

.ui.tabular.menu .active.item {
    font-weight: 400;
}

.exitModalTitle {
    font-size: 1.4em;
    text-align: center;
}

.exitModalBodyText {
    text-align: center;
    font-size: 1.2em;
    color: #6e6d6d;
}

.ui.dropdown .menu {
    background: white !important;
    opacity: 1 !important;
}

.list-item-product {
    display: flex;
}

.list-item-product .list-item-body {
    display: flex;
    flex-direction: column;
    font-style: initial;
    width: 100%;
    margin-left: 1rem;
}

.list-item-product .product-artcode,
.list-item-product .product-barcode {
    opacity: 0.4;
    font-size: 0.8em;
}

.list-item-product .product-stock-quantity {
    font-size: 0.8em;
}

.list-item-product .item-row {
    display: flex;
    justify-content: space-between;
}

.color-red {
    color: red !important;
}

.ui.dropdown .menu > .item {
    padding: 0.7rem !important;
}

.list-item-product .product-index {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8em;
    font-style: initial;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    padding: 8px 8px;
}

.input-with-icon-btn {
    /* display: flex !important; */
    /* align-items: center; */
}

.input-with-icon-btn .ant-form-item div {
    max-width: unset;
}

.input-with-icon-btn .ant-select-selector {
    border-radius: 2px 0 0 2px !important;
}

.add-stock-btn {
    color: #1164b1;
    border-width: 1px 1px 1px 1px;
    height: 26px;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    background-color: #e6f7ff;
    padding: 0;
    float: right;
    margin: 3px 0;
}

.add-stock-btn span svg {
    width: 12px;
}

.add-group-btn {
    color: #1164b1;
    border-width: 1px 1px 1px 1px;
    height: 32px;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    background-color: #e6f7ff;
    padding: 0;
    float: right;
}

.custom_panel_header .ant-collapse-header {
    color: #d40000 !important;
}
.custom_panel_header_2 .ant-collapse-header {
    color: #1164b1 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 0;
}

.customSelect .ant-select-selector {
    border-radius: 2px 0 0 2px !important;
}

tbody > tr:hover td {
    background-color: #d9eefc !important;
}

.disabled-date-picker #basic_modify {
    color: #000;
}
.disabled-date-picker .ant-picker-suffix {
    display: none;
}

.table-headers {
    height: 1.7rem;
    text-align: center;
}
.table-headers h3 {
    font-weight: 600;
}
#report-table .ant-table-title {
    padding: 0.5rem;
    background: #f9f9f9;
}

.boldContent {
    font-weight: 600;
}

#profit-table th,
#cashes-table th {
    background: #1164b1;
    color: #fff;
}

.ui.animated.button.transaction-btn {
    padding: 0.4rem 1rem !important;
    margin-right: 1.7rem;
}

.transaction-btn {
    transition: all 0.2s ease-in;
    border-color: #fff !important;
    background-color: #fff !important;
    position: relative;
    padding: 0.4rem 1rem !important;
    border: 1px solid #1164b1 !important;
    font-weight: 400 !important;
    height: fit-content !important;
}

.transaction-btn .content {
    color: #000 !important;
    margin: 0 !important;
}

.transaction-btn .content svg {
    color: #1164b1;
}

.transaction-btn .hidden.content {
    top: unset !important;
}

.transaction_buttons_menu .ant-dropdown-menu-item {
    padding: 3px 4px !important;
}

.react-datepicker-wrapper {
    width: fit-content !important;
    height: fit-content !important;
}
.react-datepicker-popper {
    z-index: 9999 !important;
}
.my-date-picker {
    border: 1px solid #bbb;
    border-radius: 3px;
    line-height: unset;
    padding: 0 0.5rem;
}

.customsavebtn.ant-btn[disabled] {
    color: #000 !important;
}
.customsavebtn.ant-btn[disabled]:hover {
    color: #fff !important;
}

.drawertable th {
    color: #1164b1 !important;
}

#settlement-table th {
    background: #1164b1;
    color: #fff;
    padding: 4px 16px;
}

.short-table {
    width: 70% !important;
    margin: auto;
}

.product_wrapper .tab_wrapper .active.item {
    background: #1164b1 !important;
}
.product_wrapper .tab_wrapper .active.item {
    color: #fff !important;
    background: #1164b1;
}
.product_wrapper .tab_wrapper .item {
    flex: 1;
    justify-content: center;
}

.table_holder_section {
    width: 100%;
}
.filter_table_wrapper_row {
    width: 100%;
}
.components-table-demo-nested {
    width: 100%;
}
.components-table-demo-nested th,
.components-table-demo-nested tbody tr td:first-child {
    color: #1164b1 !important;
}
tr.ant-table-expanded-row:hover td {
    background-color: unset !important;
    cursor: default;
}
.ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table {
    margin: 0;
}
.minus_errors {
    background-color: #ffff0075;
}
.pilus_errors {
    background-color: unset;
}
#taxes-table th {
    background: #1164b1;
    color: #fff;
}
#taxes-table {
    border: 1px solid #1164b1;
    border-bottom: unset;
    /* border-radius: 5px; */
}
/* #taxes-table th:first-child {
    border-radius: 5px 0 0 0;
}
#taxes-table th:last-child {
    border-radius: 0 5px 0 0;
} */
.ant-switch-checked {
    background-color: #1164b1;
}
.taxes-input {
    width: 70px;
    border-radius: 20px;
}
.taxes-input input {
    font-weight: 600;
    color: #1164b1;
}
.taxes-progress .ant-progress-inner {
    width: 90px !important;
    height: 90px !important;
}
.ant-progress-circle-trail {
    stroke: #1164b1;
}
.ant-progress-inner:not(.ant-progress-circle-gradient)
    .ant-progress-circle-path {
    /* stroke: #fff; */
    stroke: yellow;
}
.attribute-modal {
    width: 600px !important;
}

.ant-list-item-meta-title > a {
    font-weight: 400;
}

.formWrapper .ant-collapse-header,
.payment-out-modal .ant-collapse-header {
    width: fit-content;
}

.detail-input,
.detail-input-addon .ant-input-affix-wrapper {
    padding: 1px 11px;
    width: 100%;
}

.detail-input-addon {
    padding: 0;
    width: 100%;
}

.detail-select div {
    height: 26px !important;
    width: 100%;
}

.detail-select span {
    display: flex;
    align-items: center;
}

.detail-input-number,
.detail-input-number input {
    height: 26px !important;
}

.main-table .ant-table-thead {
    position: sticky;
    top: 100px;
    z-index: 1;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
    background: #f6f6f6;
}

.main-table .ant-table-summary {
    position: sticky;
    bottom: 0;
}

.boxshadow {
    -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.create_product_modal {
    width: 100% !important;
}

.ant-spin-nested-loading > div > .ant-spin.fetchSpinner {
    position: absolute;
    top: 50vh;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin: auto;
}

.ant-spin-nested-loading > div > .ant-spin.fetchSpinnerTop {
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin: auto;
}

/* tbody tr td {
    border-right: none !important;
}
tbody tr td:last-child {
    border-right: 1px solid #f0f0f0 !important;
} */

tbody .ant-table-cell {
    padding: 6px 14px !important;
    background: #fff !important;
}
.editable-cell-value-wrap {
    padding: 0 !important;
    border: none !important;
}

.packOrQuantityWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.packOrQuantitySelect div,
.disabledPacket div {
    width: fit-content;
    background: none !important;
    border: none !important;
}

.tableHeaderSelect div {
    border: none !important;
    background: none !important;
}

.orderField {
    width: 50px;
}
/* .tableCellBarcode,
.tableCellQuantity,
.tableCellAmount,
.tableCellPrice,
.tableCellStockBalance {
    width: 10vw;
}

.tableCellName {
} */

.form-item-customer {
    margin-bottom: 0;
}
.customer-debt {
    font-family: "Calibri" !important;
    display: flex;
    justify-content: end;
    margin-bottom: 18px !important;
}

.customer-debt span {
    margin-right: 0.5rem;
}

.filter-input .ant-col-24.ant-form-item-label {
    padding: 0;
}
.filter-input .ant-col-24.ant-form-item-label label {
    height: fit-content;
}

.payment-out-modal {
    width: 100% !important;
}
.payment-out-modal .ant-form-item-label {
    justify-content: flex-start;
    display: flex;
    width: 10em;
}

.settings-prices-text {
    font-family: "Calibri" !important;
    letter-spacing: 1px;
}

.settings-prices-text span {
    color: #d40000;
}

#dashboard .ant-picker-suffix {
    color: #1164b1;
}

.producttransactions-header {
    background-color: var(--dark-blue);
    color: #fff;
    padding: 0.8rem;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .ui.menu {
        overflow-x: scroll;
        overflow-y: hidden !important;
    }

    .page_heder_left h2 {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 576px) {
    .ui.menu {
        overflow-x: hidden;
    }

    body,
    .doc_wrapper {
        width: max-content !important;
    }

    .doc_wrapper {
        overflow: auto !important;
    }
    .doc_wrapper {
        width: 400% !important;
    }
    .filter_wrapper {
        width: 320vw;
    }

    .product_wrapper .ant-form .ant-form-item .ant-form-item-label {
        flex: unset !important;
    }

    .ant-form-horizontal .ant-form-item-control {
        flex: 1 1 !important;
    }

    .ant-form .ant-form-item .ant-form-item-label {
        max-width: 0;
    }
}
