.custom_display {
    display: flex;
    flex-direction: column;
}
.buttons_wrapper {
    display: flex;
}

.ant-form-item-label {
    text-align: left;
}
.doc_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
}
.formWrapper {
    padding: 20px;
}
.dots {
    height: 4px;
    width: 4px;
    background: #525252;
    border-radius: 2px;
}
.doc_buttons_wrapper {
    max-height: 62px !important;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px 0px #b2afaf;
}
.customsavebtn {
    background: #21ba45;
    border-radius: 3px;
    color: #fff !important;
    font-weight: 700;
}
.customsavebtn:hover {
    background-color: #21ba45 !important;
}
.customclosebtn {
    margin-left: 10px;
    border-radius: 3px;
    background: #f9f9f9 !important;
}

.doc_name_wrapper {
    padding-left: 20px;
}

.plus_wrapper {
    position: relative;
}

.add_elements {
    position: absolute;
    top: 0.5em;
    right: 7em;
}

.add_elements svg {
    color: #0288d1;
}

.left_doc_button {
    display: flex;
}

.customnewdoc {
    margin-left: 50px;
    border-radius: 3px;
    background: #f9f9f9 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: #0288d1;
}

.customnewdoc span.anticon-down {
    margin-left: 4px;
    margin-top: 0.4em;
}

.dots:nth-of-type(2) {
    margin: 0 3px;
}
.flex_directon_col_center {
    display: flex;
    align-items: center;
    text-align: center;
}

.static_wrapper {
    float: right;
}

.bottom_tab {
    padding: 1rem;
}

.bottom_tab {
    padding-left: 0 !important;
}

.ui.menu .active.item {
    color: #0288d1 !important;
}
.formWrapper {
    background: #f6f6f6;
}
.ui.segment.active.tab {
    margin-top: 0 !important;
    border-top: none;
}
.formWrapper table tbody {
    background: #f6f6f6 !important;
}

.doc_info_text.total span {
    font-size: 22px !important;
}
.doc_info_text.quantity span {
    font-size: 16px !important;
}

.addProductInputIcon .anticon-plus {
    padding: 10px;
    cursor: pointer;
    border-left: 1px solid #c4c4c4;
}

.addNewProductIcon {
    position: absolute;
    right: 1px;
    background-color: #e6f7ff;
    color: #0288d1;
    z-index: 9999 !important;
    top: 1px;
}
.ui.button.dropdown.icon {
    width: 100%;
    background: none;
    border: 1px solid #c4c2c2;
}
.custom_modal {
    width: 100% !important;
    top: 0 !important;
}

.page_header {
    display: flex;
}

.page_heder_left h2 {
    margin-right: 12px;
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
    font-size: 2em;
}

.header_row {
    padding: 36px 24px;
}
.search_header {
    margin-left: 50px;
}

.filter_button {
    /* margin-left: 1em !important; */
}
.ui.animated.button.buttons_click {
    transition: all 0.2s ease-in;
    border-color: #fff !important;
    background-color: #fff !important;
    position: relative;
    padding: 0.4rem 1rem !important;
    border: 1px solid #1164B1 !important;
    font-weight: 400;
    margin-right: 1.7rem;
    height: fit-content;
}
.ui.button.buttons_click {
    transition: all 0.2s ease-in;
    border-color: #fff !important;
    background-color: #fff !important;
    position: relative;
    padding: 0.4rem 1rem !important;
    border: 1px solid #1164B1 !important;
    font-weight: 400;
    margin-right: 1.7rem;
    height: fit-content;
}

.ui.animated.button.buttons_click svg {
    color: #1164B1;
}

.status_label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.filter_wrapper form {
    background-color: rgba(72, 69, 255, 0.09019607843137255);
    padding: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.header_row {
    position: sticky;
    top: 0;
    background: #f9f9f9 !important;
    z-index: 1000;
}

.ant-table-small .ant-table-thead > tr > th {
    background: #f9f9f9 !important;
    position: sticky;
    top: 64px !important;
    z-index: 1000;
}
.ant-table-small .ant-table-thead > tr > th.boxshadow {
    filter: drop-shadow(10px 4px 3px rgba(0, 0, 0, 0.25));
}

.ant-table-summary {
    background: #f9f9f9 !important;
}

.setting_button_wrapper {
    display: flex;
    justify-content: flex-end;
}
tfoot td {
    position: sticky !important;
    background: #f9f9f9 !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    bottom: 24px;
    filter: drop-shadow(6px -3px 3px rgba(0, 0, 0, 0.1));
}
tfoot td.nonshadow {
    filter: none !important;
}
.ant-pagination {
    position: sticky;
    bottom: 0;
    background: #f9f9f9 !important;
    display: flex;
    justify-content: center;
}

.ant-dropdown-trigger {
    background: none;
    color: #0288d1 !important;
}

.price_del_icons {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.price_del_icons .ant-row.ant-form-item {
    margin: 0 !important;
}

.price_del_icons svg {
    margin-left: 1em;
    color: #0288d1;
    cursor: pointer;
    font-weight: bold;
}

.create_new_price_button {
    color: #0288d1;
    align-items: center;
    display: flex;
    width: 269px;
    justify-content: center;
}

td.ant-table-column-sort { 
    background: none;
}

.ant-table.ant-table-small .ant-table-tbody > tr > td {
    font-family: Calibri !important;
}

.ant-table table {
    cursor: pointer;
}

.ant-table-cell-row-hover {
    background-color: rgb(206, 237, 255) !important;
}